<h3>SideBarSectionModal</h3>
@* I couldn't be assed doing this, essentially wouldve been click on an item in the sidebar section and it will
    open up a modal of either an upcoming or completed task item, or the clicked subject will bring up all 
    tasks related to that subject, then can go further and click deeper in that subject and/or add another task under
    that subject.
*@
@code {

}
