<div class="calendar-header">
    <div class="header">
        <span class="header-text">Mon</span>
    </div>
    <div class="header">
        <span class="header-text">Tue</span>
    </div>
    <div class="header">
        <span class="header-text">Wed</span>
    </div>
    <div class="header">
        <span class="header-text">Thu</span>
    </div>
    <div class="header">
        <span class="header-text">Fri</span>
    </div>
    <div class="header">
        <span class="header-text">Sat</span>
    </div>
    <div class="header">
        <span class="header-text">Sun</span>
    </div>
</div>
@code {

}