.form-item--task {
    flex-shrink: 0;
    display: grid;
    min-height: 5rem;
    max-height: 10rem;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    overflow: hidden;
    padding: 1rem 2rem;
    border-radius: 0.4rem;
    border: 1px solid #ccc;
}

.form-item--task > span {
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
